[project]
	description = A repository for items learned in my Getting Started with Jenkins and Docker tutorial series
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Raghu (raghulrrp1)
[access "refs/for/refs/*"]
	read = group user/Raghu (raghulrrp1)
	push = group user/Raghu (raghulrrp1)
	label-Code-Review = -2..+2 group user/Raghu (raghulrrp1)
	label-Verified = -1..+1 group user/Raghu (raghulrrp1)
	rebase = group user/Raghu (raghulrrp1)
	removeReviewer = group user/Raghu (raghulrrp1)
	submit = group user/Raghu (raghulrrp1)
[access "refs/heads/*"]
	read = group user/Raghu (raghulrrp1)
	create = group user/Raghu (raghulrrp1)
	push = +force group user/Raghu (raghulrrp1)
	pushMerge = group user/Raghu (raghulrrp1)
[access "refs/tags/*"]
	push = group user/Raghu (raghulrrp1)
	push = +force group user/Raghu (raghulrrp1)
